body {
		background-image:url("../technomusic.jpeg");
		background-size:100% 100%;
		color: #000000;
}

div{
	/*border: 1px solid black;*/
	color: #00FF00;
}
p{
color: #00FF00;
}

#menu{
/* width: 25%;*/
}
#email{
 width: 25%;
}
#password{
 width: 25%;
}
.span8, .span4, .span2, .span3, .span9{
	margin: 0px;
}

.span9{
	/*min-width: 400px;*/
}

#songs{

}

.songtitle{
	
}

.artist{
	
}
table{
	color: #FFFFFF;
}
td{
	/*background-color: #F39814;*/
	color: #00FF00;
}

#TD:hover {-webkit-filter: brightness(150%); }
#TD1:hover {-webkit-filter: brightness(150%); }
#TD2:hover {-webkit-filter: brightness(150%); }
#TD3:hover {-webkit-filter: brightness(150%); }
#TU:hover {-webkit-filter: brightness(150%); }
#TU1:hover {-webkit-filter: brightness(150%); }
#TU2:hover {-webkit-filter: brightness(150%); }
#TU3:hover {-webkit-filter: brightness(150%); }