body {
		/*background-image:url("../technomusic.jpeg");*/
		background-size:100% 100%;
}

div{
	/*border: 1px solid black;*/
	/*color: #00FF00;*/
}

#menu{
/* width: 25%;*/
}
#email{
 width: 25%;
}
#password{
 width: 25%;
}

#copy{
	color: #000000;
}

#info{
	color: #000000;
}
#imageOne{
    position: absolute;
	background-image:url("../R1.jpg");
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
#imageTwo{
    position: absolute;
	background-image:url("../R2.jpg");
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.bar {
    position: relative;
}

.span8, .span4, .span2, .span3, .span9{
	margin: 0px;
}

.span9{
	/*min-width: 400px;*/
}

#logo{
	background-color: #F39814;
}

tr:nth-child(even){
	background-color: #F39814;
}